.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 35px;
}

.black {
  color: black;
}

.white {
  color: white;
}

.header-item,
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  /* color: #ffffff; */
}

.header-img img {
  width: 120px;
  height: 56px;
  /* color: white; */
}

.header-nav li,
.link-li {
  list-style: none;
  /* color: #ffffff; */
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header-item input {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 12px 30px;
  width: 350px;
  /* color: #ffffff; */
}

.header-item ::placeholder {
  color: #ffffff;
  font-weight: 500;
}

.header-input-icon {
  display: flex;
  align-items: center;
  position: relative;
  padding: 12px;
}

.header-icon {
  /* margin-right: -100px; */
  position: absolute;
  left: 20px;
}
