@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.app {
  /* margin-top: -21px; */
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgb(196, 196, 196),
      rgb(196, 196, 196)
    ),
    url("./assets/images/Rectangle1.png");
  background-size: cover;
  /* background-color: rgb(196, 196, 196); */
  background-blend-mode: multiply;
  /* opacity: 0.7; */
}

.btn {
  background: #f9a51a;
  border-radius: 5px;
  border: none;
  padding: 12px 29px;
  font-weight: 500;
}
